body{
    background-color:blue;
}

h1 {
    font-weight: bolder;
    color: azure;
}

.jumbotron{
    background-image: url('./images/la-grass3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    opacity: .7;
   }
